<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/site/css")" rel="stylesheet" type="text/css" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/jqueryui/css")" rel="stylesheet" type="text/css" />
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    
    @*load all our js files*@
    @using ReleaseIt.Web.MVC.Bundling
    @Html.JsBundle("~/js/app")

</head>
<body>
    <div id="wrapper">
        <div id="top"></div>
        <div id="header">
            @Html.Partial("_Header")
        </div>
        <br style="clear:both" />
        <div id="main">
            <div id="mainLeft">@RenderBody()</div>
            <div id="mainRight"></div>
        </div>
    </div>
    <div id="footer">
        @Html.Partial("_Footer")
    </div>

    <div id="errorPanel">
        @Html.Partial("_ErrorPanel")
    </div>
    <div id="logPanel" style="visibility: hidden;">
        <!-- write log messages at runtime to this panel -->
    </div>
</body>


    <!-- load all the pages (templates) here -->
    @Html.Partial("PagesLayouts/_TopLayout")

    @Html.Partial("PagesLayouts/_MainPageLayout")

    <!-- load all the templates here -->
    @Html.Partial("Templates/_TopTemplate")

    @Html.Partial("Templates/_AddReleaseFormTemplate")
    @Html.Partial("Templates/_ReleasesListTemplate")


     @*Finally: page load function per page*@
    @RenderSection("PageLoadJavaScript", required: true)


</html>


